#Variables de entorno


PORT=8080

#                                                                                           Nombre DB que se creara dentro del cluster 
MONGODB_CNN=mongodb+srv://user_node_cafe:3mYXWC2w4fqtLhBd@miclustercafe.jny3gin.mongodb.net/cafeDB2

#Esto debe ser bastante seguro
SECRETORPRIVATEKEY=Est03sMyPubl1cK3y23@

GOOGLE_CLIENT_ID=661237023197-7nmqhekiigm7ic0murcu13chkjtj9849.apps.googleusercontent.com
GOOGLE_SECRET_ID=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

